<h3>{{category.name}}</h3>
<hr>

{{#if subCategories}}
<div class="subcategories">
    <ul>
        {{#each category in subCategories}}
          <li>{{category-link category hideParent="true"}}</li>
        {{/each}}
    </ul>
</div>
{{else}}
    {{category.description}}
{{/if}}