{{#if hasTopTopics}}
    <h1>Top Videos 1</h1>
    <div class='contents'>
        {{each topic in model.top.topics itemView="video-block-item"}}
    </div>
{{/if}}

<hr />
{{#if hasLatestTopics}}
    <h1>Latest additions</h1>
    <div class='contents'>
        {{each topic in model.latest.topics itemView="video-block-item"}}
    </div>
{{/if}}
