{{#if hasTopTopics}}
    <h2>Top Videos</h2>
    <div class="top-videos clearfix">
        <div class='contents'>
            {{each topic in model.top.topics itemView="video-block-item"}}
        </div>
    </div>
    <hr />
{{/if}}

<h2>Latest additions</h2>
<div class="latest-videos clearfix">
    <div class='contents'>
        {{each topic in model.latest.topics itemView="video-block-item"}}
    </div>
</div>
