{{#if hasTopTopics}}
    <h2>Top Videos</h2>
    <div class="top-videos clearfix">
        <div class='contents'>
            {{each topic in model.top.topics itemView="video-block-item"}}
        </div>
    </div>
    <hr />
{{/if}}

<h2>Latest additions</h2>
<div class="latest-videos clearfix">
    <div class='contents'>
        {{each topic in model.latest.topics itemView="video-block-item"}}
    </div>
</div>

<footer>
    <div class="logo"><a href="/"><span class="tech">Tech</span><span class="talks">talks</span><span class="tld">.xyz</span></a></div>
    <div class="text">
        <p>lifting the best current videos in tech – presentations, lightning talks, workshops – through a curated, moderated voting community of software developers, hackers and geeks.</p>
        <p>The project was initiated, is hosted and is curated by the organisers of <a href="http://www.hackership.org" target="_blank">Hackership</a>.</p>
    </div>
</footer>
