
// reset font weight. Make the side design less heavy.
html body,
h1, h2, h3, code,
.list-controls .btn,
a.title,
button, .btn {
  font-weight: 300;
}

html body a,
.badge-wrapper,
html body strong {
  font-weight: 500;
}

header.d-header,
body.on-home footer {
  .logo a {
    text-transform: uppercase;
    color: red;
    font-size: 24px;
    line-height: 30px;
    .tld {
      display: none;
    }

    .tech {
      font-weight: 900;
    }

    .talks {
      font-weight: 300;
      color: darkred;
    }
  }
}

// header for all pages
header.d-header {
  padding: 0;
  line-height: 30px;

  .contents {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 60px;
    margin: 0;

    > * {
      padding: 15px 10px 0 10px;
      border-left: 2px #eee solid;
      &:first-child {
        padding-left: 5vw;
      }
      &:last-child {
        padding-right: 5vw;
      }
    }

    .searchbox,
    {
      flex-grow: 2;
      input {
        width: 98%;
      }
    }

    .btn-primary {
      border: 1px solid white;
      margin-top: 0;
    }

    > .ember-view {// because the stupid extra-info-wrapper is wrapped again!
      flex-grow: 2;
      padding-top: 9px;
      .extra-info-wrapper {
        line-height: 20px;
        max-width: 60vw;
      }
    }

    .icons {
      margin: 0;
      white-space: nowrap;
      &.notifications {
        position: relative;
        padding-top: 15px;
      }
      .icon {
        padding: 0 3px;
      }
      [class^="fa fa-"] {
        width: 24px;
        height: 24px;
        font-size: 1em;
        line-height: 24px;
        display: inline-block;
      }
    }

    .current-user {
      img {
        vertical-align: top;
      }
    }
  }

  .extend {
    position: relative;
    background: white;
    display: block;
    border: solid #eee;
    border-width: 2px 0;

    .sitemap-outer {
      display: flex;
      max-width: 960px;
      margin: 0 auto;

      .sitemap-menu {
        list-style: none;
        width: 200px;

        li {
          border-left: 4px solid transparent;
          padding: 1px 3px;
          margin: 2px 0;

          &:not(.separator){
            &:hover,
            &.selected{
              background-color: #eee;
              font-weight: bold;
            }
          }

          &.separator {
            height: 12px;
          }
        }

        .badge-category-bg {
          display: none !important;;
        }
      }

      .category-details {
        display: block;
        flex-grow: 2;
        padding: 10px 20px;
        transition: 0.25s ease-in;

        .subcategories {
          column-count: 2;
          -moz-column-count: 2;
          -webkit-column-count: 2;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 1.2em;
          line-height: 2em;
        }
      }
    }

    .other-menu-items {
      border-top: 1px solid #eee;
      padding-top: 9px;
      a {
        color: #999;
      }
      ul {
        list-style: none;
        text-align: center;

        li {
          display: inline;
          padding: 0 5px;
          font-size: 0.85em;
        }
      }
    }
  }

  .d-dropdown {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  }
}


.video-block-item {
  width: 20vw;
  margin: 3px;
  border: 1px solid #eee;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  float: left;

  .inner-thumbnail {
    width: 20vw;
    height: 13vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    margin: 3px 3px 0;
  }

  &:hover .inner-thumbnail {
    filter: saturate(2.25);
    transform: scale(1.075, 1.075);
    transition: all 0.2s ease;
  }


  h3 {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    height: 36px;
    overflow: hidden;
  }

  .text {
    width: 100%;
    color: #222;
    z-index: 99990;
  }

  .video-box .text {
    transform: scale(1.075, 1.075);
    transition: all 0.2s ease;
  }

  .text .inner {
    padding: 10px 5px 5px;
    height: 4.5vw;
    background: white;
    border-width: 0 0 0 15px;
    border-style: solid;
  }


  .text .inner img {
    float: left;
    border-radius: 50%;
    margin-top: 5px;
    border: 1px solid #999;
    /*margin-left: -5px;*/
    margin-right: 3px;
    /*display: none;*/
  }

  .meta-info {
    position: absolute;
    bottom: 0.5em;
    right: 10px;
    font-size: 0.72em;
    color: #999;;
    /*display: none;*/
  }

  .time {
    color: #999;
    font-size: 10px;
    margin-right: 0.25em;
  }

  .author {
    color: #999;
    font-size: 10px;
  }
}


// things are special on our home page

body.on-home {
  header.d-header{
    position: relative;
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    &:not(:hover){
      .btn-primary {
        background-color: transparent;
      }
      .contents > *{
        border-color: transparent;
      }
      .extend, .searchbox, .notifications {
        opacity: 0;
        transition: ease-in-out 0.5s opacity;
      }.icons .icon {
        color: white;
      }
    }
    &:hover {
      background: white;
      transition: ease-in-out 0.25s background-color;
    }
  }

  #main-outlet {
    padding: 0;
    margin-top: -75px;
    max-width: 100vw;
    width: 100vw;
  }

  .list-controls {
    background: #862718 url("/plugins/techtalks-ui/background.png") no-repeat scroll center bottom / cover;
    min-height: 100vh;

    .container {
      background-image: radial-gradient(ellipse , transparent 0%, transparent 50%, black 100%);
      display: flex;
      flex-direction: column;
      color: white;

      .claim {
        font-size: 3.5em;
        line-height: 1.2em;
        margin: 45vh auto 0;
        min-width: 50vw;
        .animatedWords {
          background-color: rgba(66, 66, 66, 0.75);
          padding: 5px 10px;
          .ani {
            opacity: 0;
            animation: home-type 0.2s;
            animation-fill-mode:forwards;
          }
          .blinker {
            -webkit-animation: home-blink 0.75s infinite;
            -moz-animation: home-blink 0.75s infinite;
            animation: home-blink 0.75s infinite;
          }
        }
      }
      .desc {
        margin: 40vh auto 0;
      }
    }
  }

  #list-area {
    margin-bottom: 0;
    h2 {
      margin-left: 20px;
    }
  }

  .top-videos {
    margin: 5vh 0 5vh 2vw;

    .video-block-item {
      margin: 0.5vw;

      &:nth-child(1) {
        width: 45.33vw;
        margin-bottom: 0;

        .inner-thumbnail {
          width: 45vw;
          height: 30vw;
          background-size: contain;
          background-position: center;
          z-index: -1;
        }
        .text .inner{
          height: 7.5vw;
        }
      }
      &:nth-child(5):after {
        display: table-cell;
        clear: both;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20),
      &:nth-child(21),
      &:nth-child(22),
      &:nth-child(23),
      &:nth-child(24){
        width: 11vw;
        height: 8.25vw;

        font-size: 0.65em;

        .content-wrap {
          height: 3vw;
        }
      }
    }
  }

  footer {
    background: #999;
    color: #eee;
    padding: 10px 10vw;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      flex-grow: 2;
      padding: 0 10vw 0 5vw;
      margin: 0 auto;
    }
  }
}

// TODO: this is probably too rigid, but that's how we do it for now:
#topic-title {
  display: none;
}

#post_1 {
  .topic-avatar, .topic-meta-data {
    display: none;
  }
}

.video-top {
  .video-wrap {
    background: black none repeat scroll 0% 0%;
    width: 100vw;
  }

  // move the videoblock outside of the wrapper-box
  // and make sure it fits the entire screen width
  // widthout destroying any content flow
  // THIS IS HONESTLY STILL MAGIC TO ME, but it works:
  &:not(.docked) {
    .video-wrap {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }
  // End MAGIC

  .videobox {
    max-width: 1110px;
    max-height: 60vh;
    margin: 0 auto;
    > div {
      margin: 0 auto;
    }
  }

  &.docked {
    .videobox {
      iframe#videojs_vimeo_api,
      //vimeo ATM doesn't report playing properly
      // we put it on the top ALWAYS.
      // all other following have proper reporting
      // and we only show them, if we are playing
      .vjs-playing object,
      .vjs-playing iframe,
      .vjs-playing video {
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        height: 60px;
        width: 200px;
      }
    }
    .video-meta-overlay {
      position: relative;
    }
  }

  video {
    max-height: none !important;
  }

  // &:not(.player-play):not(.player-waiting):not(.transitioning):not(.transitioning),
  // &.player-play.transitioning,
  // &.player-waiting.transitioning,
  // &.player-pause.transitioning {
  //   // title ontop of video

  .video-meta-overlay {
    height: 100%;
    opacity: 0;
    .video-meta-inner {
      > div {
        position: absolute;
        color: white;
        z-index: 9990;

        &.video-meta {
          height: 100%;
          top: 0;
          left: 0;
          width: 65vw;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), transparent);

          .title {
            width: 38vw;
            line-height: 2.25em;
            position: absolute;
            top: 50%;
            left: 8vw;
            transform: translate(0, -50%);
          }
        }

        &.play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .fa-play {
            border: 5px solid;
            padding: 0.45em;
            border-radius: 50%;
            width: 1em;
            text-align: center;
          }
        }

        &.video-actions-wrap {
          height: 100%;
          background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.9), #000, #000);
          width: 40vw;
          right: 0;
          top: 0;
          text-align: center;
          .video-actions {
            width: 38vw;
            line-height: 2.25em;
            position: absolute;
            top: 50%;
            left: 8vw;
            transform: translate(0, -50%);
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            .fa {
              text-align: center;
              border: 2px solid;
              padding: 5px;
              border-radius: 50%;
              width: 1em;
              margin: 5px;
            }
          }
        }

        &.speakers {
          bottom: -16px;
          left: 10vw;
        }

        &.meta-details {
          bottom: -50px;
          left: 10vw;
          display: flex;
          align-items: center;
          width: 70vw;
          .categories {
            flex-grow: 2;
          }
        }
      }
    }
  }
  // }

  // in general
  .video-meta-under {
    background: white;

    .video-meta-inner {
      max-width: 1110px;
      margin: 0px auto;
      padding: 20px 0px;
      display: flex;
      flex-direction: row;
    }
  }

  &:not(.player-play):not(.player-waiting):not(.transitioning),
  &.player-pause.transitioning {
    .video-meta-overlay {
      opacity: 0;
      animation: video-fadeIn 1.5s 0.25s;
      animation-fill-mode: forwards;
    }

    .video-meta-under {
      opacity: 0;
      animation: video-fadeOut .5s;
      animation-fill-mode: forwards;
    }
  }

  &.player-pause.transitioning {
    .video-meta-under {
      opacity: 1;
      animation: video-fadeOut .5s;
      animation-fill-mode: forwards;
    }
  }

  &.player-play,
  &.player-waiting {

    // animations
    &.transitioning {
      .video-meta-overlay {
        opacity: 1;
        animation: video-fadeOut .5s;
        animation-fill-mode: forwards;
      }
    }
    &:not(.transitioning) {
      .video-meta-overlay {
        display: none;
      }
    }

    &.transitioning {
      .video-meta-under {
        opacity: 0;
        animation: video-fadeIn 1s;
        animation-fill-mode: forwards;
        > div {

        }
      }
    }
    .play-btn {
      display: none;
    }
  }
}



// animations\
@keyframes home-type{
  to { opacity: 1;}
}


@keyframes video-fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes video-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



@keyframes home-blink {
  to {opacity: .0;}
}

