
header.d-header {
  padding: 0;
  line-height: 30px;

  .logo a {
    text-transform: uppercase;
    color: red;
    font-size: 24px;
    line-height: 30px;
    .tld {
      display: none;
    }

    .tech {
      font-weight: 900;
    }

    .talks {
      font-weight: 300;
      color: darkred;
    }
  }

  .contents {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 60px;
    margin: 0;

    > * {
      padding: 15px 10px 0 10px;
      border-left: 2px #eee solid;
      &:first-child {
        padding-left: 5vw;
      }
      &:last-child {
        padding-right: 5vw;
      }
    }

    .searchbox,
    {
      flex-grow: 2;
      input {
        width: 98%;
      }
    }

    > .ember-view {// because the stupid extra-info-wrapper is wrapped again!
      flex-grow: 2;
      padding-top: 9px;
      .extra-info-wrapper {
        line-height: 20px;
      }
    }

    .icons {
      .icon {
        padding: 0 3px;
      }
      [class^="fa fa-"] {
        width: 24px;
        height: 24px;
        font-size: 1em;
        line-height: 24px;
        display: inline-block;
      }
    }

    .current-user {
      img {
        vertical-align: top;
      }
    }
  }

  .extend {
    position: relative;
    background: white;
    display: block;
    border: solid #eee;
    border-width: 2px 0;

    .sitemap-outer {
      display: flex;
      max-width: 960px;
      margin: 0 auto;

      .sitemap-menu {
        list-style: none;
        width: 200px;

        li {
          border-left: 2px solid #eee;
          padding: 1px 3px;
          margin: 2px 0;

          &:hover,
          &.selected{
            background-color: #eee;
            font-weight: bold;
          }
        }
      }
      .category-details {
        display: block;
        flex-grow: 2;
        padding: 10px 20px;
      }
    }

    .other-menu-items {
      border-top: 1px solid #eee;
      padding-top: 9px;
      ul {
        list-style: none;
        text-align: center;

        li {
          display: inline;
          padding: 0 5px;
          font-size: 0.85em;
        }
      }
    }
  }

  .d-dropdown {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  }
}