
// reset font weight. Make the side design less heavy.
html body,
h1, h2, h3, code,
.list-controls .btn,
a.title,
button, .btn {
  font-weight: 300;
}

html body a,
.badge-wrapper,
html body strong {
  font-weight: 500;
}

// header for all pages
header.d-header {
  padding: 0;
  line-height: 30px;

  .logo a {
    text-transform: uppercase;
    color: red;
    font-size: 24px;
    line-height: 30px;
    .tld {
      display: none;
    }

    .tech {
      font-weight: 900;
    }

    .talks {
      font-weight: 300;
      color: darkred;
    }
  }

  .contents {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 60px;
    margin: 0;

    > * {
      padding: 15px 10px 0 10px;
      border-left: 2px #eee solid;
      &:first-child {
        padding-left: 5vw;
      }
      &:last-child {
        padding-right: 5vw;
      }
    }

    .searchbox,
    {
      flex-grow: 2;
      input {
        width: 98%;
      }
    }

    > .ember-view {// because the stupid extra-info-wrapper is wrapped again!
      flex-grow: 2;
      padding-top: 9px;
      .extra-info-wrapper {
        line-height: 20px;
      }
    }

    .icons {
      &.notifications {
        position: relative;
        padding-top: 0px;
        margin-top: 15px;
      }
      .icon {
        padding: 0 3px;
      }
      [class^="fa fa-"] {
        width: 24px;
        height: 24px;
        font-size: 1em;
        line-height: 24px;
        display: inline-block;
      }
    }

    .current-user {
      img {
        vertical-align: top;
      }
    }
  }

  .extend {
    position: relative;
    background: white;
    display: block;
    border: solid #eee;
    border-width: 2px 0;

    .sitemap-outer {
      display: flex;
      max-width: 960px;
      margin: 0 auto;

      .sitemap-menu {
        list-style: none;
        width: 200px;

        li {
          border-left: 4px solid transparent;
          padding: 1px 3px;
          margin: 2px 0;

          &:not(.separator){
            &:hover,
            &.selected{
              background-color: #eee;
              font-weight: bold;
            }
          }

          &.separator {
            height: 12px;
          }
        }

        .badge-category-bg {
          display: none !important;;
        }
      }

      .category-details {
        display: block;
        flex-grow: 2;
        padding: 10px 20px;
        transition: 0.25s ease-in;

        .subcategories {
          column-count: 2;
          -moz-column-count: 2;
          -webkit-column-count: 2;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 1.2em;
          line-height: 2em;
        }
      }
    }

    .other-menu-items {
      border-top: 1px solid #eee;
      padding-top: 9px;
      a {
        color: #999;
      }
      ul {
        list-style: none;
        text-align: center;

        li {
          display: inline;
          padding: 0 5px;
          font-size: 0.85em;
        }
      }
    }
  }

  .d-dropdown {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  }
}


.video-block-item {
  background-size: cover;
  width: 22vw;
  height: 16.5vw;
  float: left;
  margin: 1vw;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 200;

  position: relative;

  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    background-image: radial-gradient(ellipse , transparent 0%, black 100%);
  }

  .content-wrap{
    overflow: hidden;
    padding: 1vw;
    height: 5vw;
    // background: rgba(50, 50, 50, 0.85); /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* Standard syntax; must be last */
    color: #eee;
  }

  .author {
    position: absolute;
    top: 7.5vw;
    left: 3px;
    margin-left: -10px
  }
  .authorname {
    font-size: 0.8em;
    line-height: 1em;
    padding-bottom: 1em;
    margin-top: -2em;
    padding-left: 1.5em;
    color: rgba(200, 200, 200, 0.9);
  }
}


// things are special on our home page

body.on-home {
  header.d-header{
    position: relative;
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    &:not(:hover){
      .contents > *{
        border-color: transparent;
      }
      .extend, .searchbox, .notifications {
        opacity: 0;
        transition: ease-in-out 0.5s opacity;
      }.icons .icon {
        color: white;
      }
    }
    &:hover {
      background: white;
      transition: ease-in-out 0.25s background-color;
    }
  }

  #main-outlet {
    padding: 0;
    margin-top: -75px;
    max-width: 100vw;
    width: 100vw;
  }

  .list-controls {
    background: transparent url("/plugins/techtalks-ui/background.png") no-repeat scroll center bottom / cover;
    min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      color: white;

      .claim {
        font-size: 3.5em;
        line-height: 1.2em;
        margin: 45vh auto 0;
        min-width: 50vw;
        .animatedWords {
          background-color: rgba(66, 66, 66, 0.75);
          padding: 5px 10px;
          .ani {
            opacity: 0;
            animation: home-type 0.2s;
            animation-fill-mode:forwards;
          }
          .blinker {
            -webkit-animation: home-blink 0.75s infinite;
            -moz-animation: home-blink 0.75s infinite;
            animation: home-blink 0.75s infinite;
          }
        }
      }
      .desc {
        margin: 40vh auto 0;
      }
    }
  }

  #list-area h2 {
    margin-left: 20px;
  }

  .top-videos {
    margin: 5vh 0 5vh 2vw;

    .video-block-item {
      margin: 0.5vw;
      &:nth-child(1) {
        width: 45.33vw;
        height: 34vw;
        margin-bottom: 0;

        .content-wrap {
          height: 10vw;
          font-size: 2em;
          line-height: 1.2em;
        }

        .author {
          top: 16vw;
          left: -0.5vw;
          img {
            width: 64px;
            height: 64px;
          }
        }
      }

      &:nth-child(5):after {
        display: table-cell;
        clear: both;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20),
      &:nth-child(21),
      &:nth-child(22),
      &:nth-child(23),
      &:nth-child(24){
        width: 11vw;
        height: 8.25vw;

        font-size: 0.65em;

        .content-wrap {
          height: 3vw;
        }
      }
    }

  }
}

@keyframes home-type{
  to { opacity: 1;}
}


@keyframes home-fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes home-blink {
  to {opacity: .0;}
}
