<div class="videobox">
    {{#video-embed autoresize=true controls=true}}

    {{! }}
    <source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2009/22_a-socio-political-analysis-of-open-source-community.ogv" type="video/ogg"/>

     {{! <source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-eu-2011/0_3-cmses-in-45-minutes.m4v" type="video/mp4" /> }}

     {{! <source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2010/41_alice-in-performanceland-down-the-rabbit-hole-with-frank-wiles.flv" type="video/flv" /> }}

      <source src="https://vimeo.com/1093745" type="video/vimeo" />

     {{! Testing video selection: here is youtube}}
      {{!<source src="https://www.youtube.com/watch?v=hzf3hTUKk8U" type="video/youtube" /> }}

      {{! Testing video selection: here is mp4 and webm}}
      {{! <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm" /> }}
    {{/video-embed}}
</div>