
<h2 class="claim">{{animated-word words='inspiring|amazing|awesome|mind-blowing|informative|fantastic|revolutionary' speed=250 pause=5 shuffle=true colors="3AB54A|08C|3AB54A|F7F41D|ED207B|F1592A"}} tech talks</h2>

<h3 class="desc">Voted. Curated. Moderated.<br/>Only the best videos in tech.</h3>